/* Default styles for larger screens */
.qhead {
    text-align: center;
    padding-top: 50px;
    font-weight: 600;
}
thead {
    background-color: aqua;
    border: none;
    border-radius: none;
}
th {
    margin-top: 100px;
    padding-left: 20px;
}
td {
    padding-left: 5px;
    padding-top: 7px;
    text-align: center;
}
.action-edit {
    padding-right: 20px;
    color: #854CFF;
}
.action-share {
    padding-right: 20px;
    color: #60B84B;
}
.action-del {
    padding-right: 20px;
    color: red;
}
table {
    margin-top: 100px;
}

/* Media query for screens smaller than a specific width (e.g., 768px) */
@media screen and (max-width: 768px) {
    .qhead {
        padding-top: 20px; /* Adjust padding for smaller screens */
        font-weight: 500; /* Adjust font weight for smaller screens */
    }
    th {
        margin-top: 20px; /* Adjust margin for smaller screens */
        padding-left: 10px; /* Adjust padding for smaller screens */
    }
    td {
        padding-left: 5px;
        padding-top: 5px; /* Adjust padding for smaller screens */
    }
    .action-edit,
    .action-share,
    .action-del {
        padding-right: 10px; /* Adjust padding for smaller screens */
    }
    table {
        margin-top: 20px; /* Adjust margin for smaller screens */
    }
}
