Modal Styles
.container{
  width: 100vw;
  height: 100vh;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .modal-header{
    display: flex;
    justify-content: space-between;
    color: #9f9f9f;
    font-weight: 500;
    padding: 10px;
  }


  /* .options-buttons{
    width: 100%;
    
    display: flex;
     
    justify-content: center;
  } */

  #question{
    box-shadow: 3px 0px 15px 1px rgba(0,0,0,0.2);
    background-color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 90%;
    outline: none;
    border-radius: 10px;
  }

  .text-options{
    flex: 1;
    width: 100%;
  }

  .timer{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;
    justify-content: center;
  }

  .timer-button{
    width: 150px;
    box-shadow: 3px 0px 15px 1px rgba(0,0,0,0.2);
    background-color: white;
    color: black;
  }

  #text-input{
    box-shadow: 3px 0px 15px 1px rgba(0,0,0,0.2);
    background-color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    width:40%;
    outline: none;
    border-radius: 10px;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 90%;
    height: auto;
  }
  
  /* Form Styles */
  

   
.mid{
  width: 100%;
  display: flex;
}

  
  /* button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
  } */
  
  /* button {
    background: #007bff;
  } */
  
  /* button + button {
    margin-left: 10px;
  }
   */
  .delete-icon {
    color: #f00;
    cursor: pointer;
  }
  
  /* Button Styles */
  .create-quiz-button, .add-question-button {
    background: #28a745;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  .cancel-button {
    background: #dc3545;
  }
  
  /* Input Styles */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #333;
  }
  
  input[type="text"]:focus {
    background-color: #fff;
    color: #333;
  }
  