.quiz-interface-child {
  position: absolute;
  top: -1px;
  left: 0;
  background-color: #041325;
  width: 1280px;
  height: 848px;
}
.quiz-interface-item {
  position: absolute;
  top: 95px;
  left: 98px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  width: 1066px;
  height: 643px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #60b84a;
  width: 320px;
  height: 56px;
}
.submit {
  position: absolute;
  top: 6px;
  left: 122px;
  font-weight: 600;
}
.quiz-interface-inner,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 56px;
}
.quiz-interface-inner {
  top: 649px;
  left: 487px;
  font-size: 30px;
  color: #fff;
}
.b {
  position: absolute;
  top: 131px;
  left: 151px;
}
.your-question-text {
  position: absolute;
  top: 0;
  left: 0;
}
.your-question-text-comes-here-wrapper {
  position: absolute;
  top: 231px;
  left: 133px;
  width: 996px;
  height: 60px;
}
.group-item,
.s {
  position: absolute;
}
.s {
  top: 131px;
  left: 1001px;
  color: #d60000;
}
.group-item {
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #f0f0f0;
  width: 320px;
  height: 112px;
}
.option-1 {
  position: absolute;
  top: 30px;
  left: 90px;
  font-weight: 600;
}
.group-inner,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 112px;
}
.group-inner {
  border-radius: 10px;
  background-color: #f0f0f0;
  border: 5px solid #5076ff;
  box-sizing: border-box;
}
.group-container,
.group-div,
.group-frame,
.group-parent {
  position: absolute;
  top: 187px;
  left: 0;
  width: 320px;
  height: 112px;
}
.group-div,
.group-frame,
.group-parent {
  top: 0;
  left: 470px;
}
.group-frame,
.group-parent {
  top: 187px;
}
.group-parent {
  top: 308px;
  left: 236px;
  width: 790px;
  height: 299px;
  font-size: 35px;
  color: #000;
}
.quiz-interface {
  background-color: #fff;
  width: 1280px;
  height: 832px;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  color: #474444;
  font-family: Poppins;
}
