.sidebar {
  position: fixed; /* Make the sidebar fixed */
  top: 0;
  left: 0;
  height: 100%;
  width: 15%;
  background-color: white;
  color: #474444;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 6px 0px 15px 1px rgba(0,0,0,0.47);
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  height: 690px;
  width: 15%;
  background-color: white;
  color: #474444;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;  
  box-shadow: 6px 0px 15px 1px rgba(0,0,0,0.47);
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.bars {
  width: 15px;
  height: 15px;
  background-color: white;
}

.center_links {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.link {
  text-decoration: none;
  padding: 20px 0;
  color: #474444;
  transition: color 0.2s;
  font-weight: 700;
}

.link:hover {
  color: black;
}

.link_text {
  font-size: 20px;
  text-align: center;
   
}

.logout {
  margin-top: 30px;
}

.logout:hover {
  background-color: #d84315;
}
