/* .container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
};

.form{}

input{
    width: 150%;
    padding: 10px;
    background: #f4f4f4;
    border: none;
    outline: none;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

.submit{
    background-color: '#a9bcff';
}
 */
